.container {
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;
}



.btn{
    color: red;
    background-color: aqua;
}

.grun {
color: green;
background-color: beige;
}

.qqq {
    color: blue;
    background-color: burlywood;
}